/* Colors and fonts */
body {
  background: #F7F9FC;
  color: black;
  font-family: 'Padauk', sans-serif;
  font-size: 15px;
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: 'Padauk', sans-serif;;
}
h1 {
  color: black;
  font-size: 32px;
  font-weight: 30;
}
h2 {
  color: black;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
}
a {
  font-family: 'Padauk', sans-serif;;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 16px;
}
a:hover {
  color: black;
}
.container {
  width: 700px;
  margin: 40px auto;
}
.card-green {
  background-color: rgb(22, 95, 67);
  padding: 50px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 2px;
  margin: 10px 0px;
  text-align: center;
}
.img-circle {
  border-radius: 50%;
}
.btn-blue {
  background-color: #050505;
  color: white;
  padding: 15px 20px;
  border-radius: 3px;
}
.btn-blue:hover {
  background-color: rgb(33, 7, 126);
  color: white;
}

.list-inline{
  list-style: none;
  padding-left: 0;
}

.list-inline i {

  padding-left: 0px;
  font-size: 40px;
  color:rgb(3, 3, 3);
}

.list-inline i:hover {
  color: black;
}

#introduction p {
  margin-bottom: 30px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
